<div class="modal fade" id="modal_imprimir_pedido">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Imprimir {#FS_PEDIDO#}</h4>
         </div>
         <div class="modal-body">
            {loop="$fsc->extensions"}
               {if="$value->type=='pdf'"}
               <a href="index.php?page={$value->from}{$value->params}&id={$fsc->pedido->idpedido}" target="_blank" class="btn btn-block btn-default">
                  <span class="glyphicon glyphicon-print"></span>&nbsp; {$value->text}
               </a>
               {/if}
            {/loop}
         </div>
         <div class="modal-footer">
            <a href="index.php?page=admin_empresa#impresion" target="_blank">
               <span class="glyphicon glyphicon-wrench"></span>&nbsp; Opciones de impresión
            </a>
         </div>
      </div>
   </div>
</div>

{if="$fsc->empresa->can_send_mail()"}
<form class="form" role="form" name="f_enviar_email" action="{$fsc->url()}" method="post" enctype="multipart/form-data">
   <input type="hidden" name="codproveedor" value="{$fsc->pedido->codproveedor}"/>
   <div class="modal" id="modal_enviar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                  Enviar {#FS_PEDIDO#}
               </h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">De</span>
                     <select name="de" class="form-control">
                        {if="$fsc->user->email"}
                        <option>{$fsc->user->email}</option>
                        {/if}
                        <option>{$fsc->empresa->email}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Para</span>
                     {if="$fsc->proveedor_s"}
                     <input id="ac_email" class="form-control" type="text" name="email" value="{$fsc->proveedor_s->email}" autocomplete="off"/>
                     <span class="input-group-addon" title="Asignar email al proveedor">
                        <input type="checkbox" name="guardar" value="TRUE"/>
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                     </span>
                     {else}
                     <input id="ac_email" class="form-control" type="text" name="email" autocomplete="off"/>
                     {/if}
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon">Copia</span>
                     <input id="ac_email2" class="form-control" type="text" name="email_copia" autocomplete="off"/>
                     <span class="input-group-addon" title="Copia de carbón oculta">
                        <input type="checkbox" name="cco" value="TRUE"/>
                        <span class="glyphicon glyphicon-eye-close"></span>
                     </span>
                  </div>
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="mensaje" rows="6">Buenos días, le adjunto mi {#FS_PEDIDO#} {$fsc->pedido->codigo}.
{$fsc->empresa->email_config['mail_firma']}</textarea>
                  <p class="help-block">
                     <a href="index.php?page=admin_empresa#email">Editar la firma</a>
                  </p>
               </div>
               <div class="form-group">
                  <input name="adjunto" type="file"/>
                  <p class="help-block">
                     Se va a adjuntar el {#FS_PEDIDO#}, pero si lo deseas
                     puedes añadir otro archivo de hasta {$fsc->get_max_file_upload()} MB
                  </p>
               </div>
               {loop="$fsc->extensions"}
                  {if="$value->type=='email'"}
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='index.php?page={$value->from}{$value->params}&id={$fsc->pedido->idpedido}';this.form.submit();">
                     <span class="glyphicon glyphicon-send"></span>&nbsp; {$value->text}
                  </button>
                  {/if}
               {/loop}
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="modal" id="modal_enviar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
               <span class="glyphicon glyphicon-envelope"></span>&nbsp; Enviar por email
            </h4>
         </div>
         <div class="modal-body">
            <a href='index.php?page=admin_empresa#email' class="btn btn-sm btn-warning">
               <span class="glyphicon glyphicon-wrench"></span>&nbsp; Configurar
            </a>
         </div>
      </div>
   </div>
</div>
{/if}

<form class="form" role="form" action="{$fsc->url()}" method="post">
   <input type="hidden" name="petid" value="{$fsc->random_string()}"/>
   <div class="modal" id="modal_aprobar">
      <div class="modal-dialog modal-sm">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-ok-sign"></span> Aprobar {#FS_PEDIDO#}
               </h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Fecha del {#FS_ALBARAN#}:
                  <div class="input-group">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                     <input class="form-control datepicker" type="text" name="aprobar" value="{$fsc->today()}" autocomplete="off"/>
                  </div>
                  <p class="help-block">Se generará un {#FS_ALBARAN#} de compra.</p>
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="costemedio" value="TRUE"{if="FS_COST_IS_AVERAGE"} checked="checked"{/if}/>
                     Actualizar precio de coste de los artículos
                  </label>
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="stock" value="TRUE" checked="checked"/>
                     Añadir al stock
                  </label>
               </div>
               <div class="text-right">
                  <button class="btn btn-sm btn-primary" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-ok"></span>&nbsp; Aprobar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>

<form action="{$fsc->ppage->url()}" method="post">
   <input type="hidden" name="delete" value="{$fsc->pedido->idpedido}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">¿Realmente desea eliminar este {#FS_PEDIDO#}?</h4>
            </div>
            {if="$fsc->pedido->idalbaran"}
            <div class="modal-body bg-warning">
               Hay un {#FS_ALBARAN#} asociado, pero no será eliminado.
            </div>
            {/if}
            <div class="modal-footer">
               <button class="btn btn-sm btn-danger" onclick="this.disabled = true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal fade" id="modal_versionesp" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
               <i class="fa fa-retweet" aria-hidden="true"></i> Versiones del {#FS_PEDIDO#}
            </h4>
            <p class="help-block">Estas son todas las versiones de {#FS_PEDIDO#} actual.</p>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th></th>
                     <th class="text-left">Código + Núm. Proveedor</th>
                     <th class="text-left">Proveedor</th>
                     <th class="hidden-sm"></th>
                     <th class="text-left">Observaciones</th>
                     <th class="text-right">Total</th>
                     <th class="text-right">Fecha</th>
                  </tr>
               </thead>
               {loop="$fsc->versiones"}
               <tr class='clickableRow{if="$value->idalbaran"} success{elseif="$value->total<=0"} warning{/if}' href="{$value->url()}">
                  <td class="text-center">
                     {if="$value->idalbaran"}
                     <span class="glyphicon glyphicon-paperclip" title="El {#FS_PEDIDO#} tiene vinculado un {#FS_ALBARAN#}"></span>
                     {/if}
                  </td>
                  <td>
                     {if="$value->idpedido==$fsc->pedido->idpedido"}
                     <b class="text-capitalize">{#FS_PEDIDO#} actual</b>
                     {else}
                     <a href="{$value->url()}">{$value->codigo}</a> {$value->numproveedor}
                     {/if}
                     {if="$value->totaliva==0"}<span class="label label-warning">Sin {#FS_IVA#}</span>{/if}
                     {if="$value->totalrecargo!=0"}<span class="label label-default">RE</span>{/if}
                     {if="$value->totalirpf!=0"}<span class="label label-default">{#FS_IRPF#}</span>{/if}
                  </td>
                  <td>
                     {$value->nombre}
                     {if="$value->codproveedor"}
                     <a href="{$fsc->url()}&codproveedor={$value->codproveedor}" class="cancel_clickable" title="Ver más {#FS_PEDIDOS#} de {$value->nombre}">[+]</a>
                     {else}
                     <span class="label label-danger" title="Proveedor desconocido">???</span>
                     {/if}
                  </td>
                  <td class="text-right hidden-sm">
                     <span title="{$value->numdocs} documentos adjuntos">
                        {if="$value->numdocs==1"}
                        <i class="fa fa-file" aria-hidden="true"></i>
                        {elseif="$value->numdocs>1"}
                        {$value->numdocs} <i class="fa fa-file" aria-hidden="true"></i>
                        {/if}
                     </span>
                  </td>
                  <td>{$value->observaciones_resume()}</td>
                  <td class="text-right" title="{$fsc->show_precio($fsc->euro_convert($value->totaleuros, $value->coddivisa, $value->tasaconv))}">
                     {$fsc->show_precio($value->total, $value->coddivisa)}
                  </td>
                  <td class="text-right" title="Hora {$value->hora}">
                     {if="$value->fecha==$fsc->today()"}<b>{$value->fecha}</b>{else}{$value->fecha}{/if}
                  </td>
               </tr>
               {else}
               <tr class="warning">
                  <td></td>
                  <td colspan="7">Ninguna versión encontrada.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <div class="modal-footer">
            <a class="btn btn-sm btn-success" href="{$fsc->url()}&nversion=TRUE" title="Nueva versión del {#FS_PEDIDO#}">
               <i class="fa fa-retweet" aria-hidden="true"></i>
               <span class="hidden-xs">&nbsp; Nueva versión</span>
            </a>
         </div>
      </div>
   </div>
</div>