{include="header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="btn-group">
            {if="$fsc->compras"}
            <a class="btn btn-sm btn-default" href="index.php?page=compras_pedidos">
               <span class="glyphicon glyphicon-arrow-left"></span>
               <span class="hidden-xs text-capitalize">&nbsp; {#FS_PEDIDOS#}</span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="index.php?page=ventas_pedidos">
               <span class="glyphicon glyphicon-arrow-left"></span>
               <span class="hidden-xs text-capitalize">&nbsp; {#FS_PEDIDOS#}</span>
            </a>
            {/if}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
         </div>
         <div class="btn-group">
         {loop="$fsc->extensions"}
            {if="$value->type=='button'"}
            <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
            {/if}
         {/loop}
         </div>
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-tasks"></span>
               Artículos en {#FS_PEDIDOS#}
               <small>{function="count($fsc->resultados)"}</small>
            </h1>
            <p class="help-block">
               Estos son los artículos que hay en {#FS_PEDIDOS#} de compra y de venta pendientes.
            </p>
         </div>
      </div>
   </div>
   {loop="$fsc->resultados"}
   <div class="row">
      <div class="col-sm-12">
         <div class='panel {if="$value['cantidadventas']<=$value['stockfisico']+$value['cantidadcompras']"}panel-default{else}panel-warning{/if}'>
            <div class="panel-heading">
               <a href="index.php?page=ventas_articulo&ref={$value['referencia']}">{$value['referencia']}</a>
               {$value['descripcion']}
            </div>
            <div class="row">
               <div class="col-sm-6">
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Compras</th>
                              <th>Proveedor</th>
                              <th class="text-right">Fecha pedido</th>
                              <th class="text-right">Cantidad</th>                        
                           </tr>
                        </thead>
                        {loop="$value['pedidoscompras']"}
                        <tr>
                           <td><a href="index.php?page=compras_pedido&id={$value2->idpedido}">{$value2->codigo}</a></td>
                           <td>{$value2->nombre}</td>
                           <td class="text-right">{$value2->fecha}</td>
                           <td class="text-right">{$value2->cantidadpedido}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="4">Ningún {#FS_PEDIDO#} pendiente.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Ventas</th>
                              <th>Cliente</th>
                              <th class="text-right">Fecha pedido</th>
                              <th class="text-right">Fecha de salida</th>
                              <th class="text-right">Cantidad</th>                        
                           </tr>
                        </thead>
                        {loop="$value['pedidosventas']"}
                        <tr>
                           <td><a href="index.php?page=ventas_pedido&id={$value2->idpedido}">{$value2->codigo}</a></td>
                           <td>{$value2->nombrecliente}</td>
                           <td class="text-right">{$value2->fecha}</td>
                           <td class="text-right">{$value2->fechasalida}</td>
                           <td class="text-right">{$value2->cantidadpedido}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="5">Ningún {#FS_PEDIDO#} pendiente.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
            <div class="panel-footer small">
               <div class="row">
                  <div class="col-sm-4">
                     <b>Pendiente de recibir: {$value['cantidadcompras']}</b>
                  </div>
                  <div class="col-sm-4 text-center">
                     <b>En stock: {$value['stockfisico']}</b>
                  </div>
                  <div class="col-sm-4 text-right">
                     <b>Pendiente de enviar: {$value['cantidadventas']}</b>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {else}
   <div class="row">
      <div class="col-sm-12">
         <div class="alert alert-warning">Sin resultados.</div>
      </div>
   </div>
   {/loop}
</div>

{include="footer"}