{include="header"}

<div class="container-fluid">
   <form name="listado_general" action="{$fsc->url()}&mostrar=general" method="post" class="form">
      <div class="row">
         <div class="col-sm-12">
	         <div class="page-header">
	            <h1>
	               <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	               Informe de {#FS_PEDIDOS#}
	               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
	                  <span class="glyphicon glyphicon-refresh"></span>
	               </a>
	            </h1>
               <p class="help-block">
                  Selecciona las opciones de filtrado que desees.
               </p>
	         </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-2">
            <div class="form-group">
               Desde:
               <input class="form-control datepicker" type="text" name="desde" value="{$fsc->desde}" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Hasta:
               <input class="form-control datepicker" type="text" name="hasta" value="{$fsc->hasta}" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->agente->url()}">Empleado</a>:
					<select name="codagente" class="form-control" onchange="this.form.submit()">
                  <option value="">Todos</option>
						<option value="">------</option>
						{loop="$fsc->agente->all()"}
                     {if="$fsc->codagente==$value->codagente"}
		               <option value="{$value->codagente}" selected="">{$value->get_fullname()}</option>
		               {else}
		               <option value="{$value->codagente}">{$value->get_fullname()}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->serie->url()}" class="text-capitalize">{#FS_SERIE#}</a>:
               <select class="form-control" name="codserie" onchange="this.form.submit()">
                  <option value="">Todas</option>
						<option value="">-----</option>
						{loop="$fsc->serie->all()"}
                     {if="$fsc->codserie==$value->codserie"}
		               <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
		               {else}
		               <option value="{$value->codserie}">{$value->descripcion}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->almacen->url()}">Almacén</a>:
               <select name="codalmacen" class="form-control" onchange="this.form.submit()">
                  <option value="">Todos</option>
						<option value="">------</option>
						{loop="$fsc->almacen->all()"}
                     {if="$fsc->codalmacen==$value->codalmacen"}
		               <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
		               {else}
		               <option value="{$value->codalmacen}">{$value->nombre}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->divisa->url()}">Divisa</a>:
					<select name="coddivisa" class="form-control" onchange="this.form.submit()">
                  {loop="$fsc->divisa->all()"}
                     {if="$fsc->coddivisa==$value->coddivisa"}
		               <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
		               {else}
		               <option value="{$value->coddivisa}">{$value->descripcion}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
					<select name="codpago" class="form-control" onchange="this.form.submit()">
                  <option value="">Todas</option>
						<option value="">------</option>
						{loop="$fsc->forma_pago->all()"}
                     {if="$fsc->codpago==$value->codpago"}
		               <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
		               {else}
		               <option value="{$value->codpago}">{$value->descripcion}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
      </div>
   </form>
</div>

{if="$fsc->mostrar=='general'"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
		   <div class="row">
		      <div class="col-sm-12">
		         <div class="panel panel-default">
		            <div class="panel-heading">
		               <h3 class="panel-title"><span class="text-capitalize">{#FS_PEDIDOS#}</span> por mes</h3>
		            </div>
		            <div class="panel-body">
		               <canvas id="chart_pedidos_month" style="height:350px !important"</canvas>
		               <p class="help-block">Se muestran valores <b>netos</b>, es decir, sin impuestos.</p>
		            </div>
		         </div>
		      </div>
		   </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por {#FS_SERIE#}</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_compras_series"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_series()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por {#FS_SERIE#}</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_ventas_series"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_series('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>   
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por Empleado</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_compras_agentes"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_agentes()"}
                  <tr>
                     {if="$value['txt']=='Ninguno'"}
                        <td class="warning">Ninguno</td>
                        <td class="warning text-right">{$fsc->show_precio($value['total'])}</td>
                     {else}
                        <td>{$value['txt']}</td>
                        <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                     {/if}
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por Empleado</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_ventas_agentes"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_agentes('pedidoscli')"}
                  <tr>
                     {if="$value['txt']=='Ninguno'"}
                        <td class="warning">Ninguno</td>
                        <td class="warning text-right">{$fsc->show_precio($value['total'])}</td>
                     {else}
                        <td>{$value['txt']}</td>
                        <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                     {/if}
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por almacén</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_compras_almacenes"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_almacenes()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por almacén</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_ventas_almacenes"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_almacenes('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por formas de pago</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_compras_formas_pago"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_formas_pago()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por formas de pago</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_ventas_formas_pago"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_formas_pago('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por estado de aprobación</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_compras_estado"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_formas_pago()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por estado</h3>
            </div>
            <div class="panel-body">
               <canvas id="chart_ventas_estado"></canvas>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_estado('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>   
   
   
   
</div>
{/if}


<script src="plugins/presupuestos_y_pedidos/extras/Chart.bundle.min.js"></script>

<script type="text/javascript">

   window.onload=drawChart();

   function drawChart()
   {

      var data2 = {
      	labels: [],
      	datasets: [
      	 {label: 'ventas {$fsc->simbolo_divisa()}',
			  backgroundColor:"rgba(54, 162, 235,0.8)" ,
			  data: []      	 
      	 },
      	 {label:'compras {$fsc->simbolo_divisa()}',
			  backgroundColor:"rgba(255, 99, 132,0.8)" ,
			  data: []        	 
      	 }  	
      	]     
      };      

      {loop="$fsc->stats_months()"}

			data2.labels.push('{$value['month']}');       
         data2.datasets[0].data.push({$value['total_cli']});
         data2.datasets[1].data.push({$value['total_pro']});         
         
      {/loop}

		var ctx2 = document.getElementById('chart_pedidos_month').getContext('2d');
		ctx2.canvas.height = 150;
		var chart2 = new Chart(ctx2, {
		  type: 'line',
		  data: data2
		});


      var data3 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_series()"}

			data3.labels.push('{$value['txt']}');       
         data3.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx3 = document.getElementById('chart_compras_series').getContext('2d');
		ctx3.canvas.height = 100;
		var chart3 = new Chart(ctx3, {
		  type: 'polarArea',  
		  data: data3
		});


      var data4 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_series('pedidoscli')"}

			data4.labels.push('{$value['txt']}');       
         data4.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx4 = document.getElementById('chart_ventas_series').getContext('2d');
		ctx4.canvas.height = 100;
		var chart4 = new Chart(ctx4, {
		  type: 'polarArea',  
		  data: data4
		});


      var data5 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_agentes()"}

			data5.labels.push('{$value['txt']}');       
         data5.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx5 = document.getElementById('chart_compras_agentes').getContext('2d');
		ctx5.canvas.height = 100;
		var chart5 = new Chart(ctx5, {
		  type: 'polarArea',  
		  data: data5
		});


      var data6 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_agentes('pedidoscli')"}

			data6.labels.push('{$value['txt']}');       
         data6.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx6 = document.getElementById('chart_ventas_agentes').getContext('2d');
		ctx6.canvas.height = 100;
		var chart6 = new Chart(ctx6, {
		  type: 'polarArea',  
		  data: data6
		});




      var data7 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_almacenes()"}

			data7.labels.push('{$value['txt']}');       
         data7.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx7 = document.getElementById('chart_compras_almacenes').getContext('2d');
		ctx7.canvas.height = 100;
		var chart7 = new Chart(ctx7, {
		  type: 'polarArea',  
		  data: data7
		});


      var data8 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_almacenes('pedidoscli')"}

			data8.labels.push('{$value['txt']}');       
         data8.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx8 = document.getElementById('chart_ventas_almacenes').getContext('2d');
		ctx8.canvas.height = 100;
		var chart8 = new Chart(ctx8, {
		  type: 'polarArea',  
		  data: data8
		});



      var data9 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_formas_pago()"}

			data9.labels.push('{$value['txt']}');       
         data9.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx9 = document.getElementById('chart_compras_formas_pago').getContext('2d');
		ctx9.canvas.height = 100;
		var chart9 = new Chart(ctx9, {
		  type: 'polarArea',  
		  data: data9
		});


      var data10 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_formas_pago('pedidoscli')"}

			data10.labels.push('{$value['txt']}');       
         data10.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx10 = document.getElementById('chart_ventas_formas_pago').getContext('2d');
		ctx10.canvas.height = 100;
		var chart10 = new Chart(ctx10, {
		  type: 'polarArea',  
		  data: data10
		});



      var data11 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_estado()"}

			data11.labels.push('{$value['txt']}');       
         data11.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx11 = document.getElementById('chart_compras_estado').getContext('2d');
		ctx11.canvas.height = 100;
		var chart11 = new Chart(ctx11, {
		  type: 'polarArea',  
		  data: data11
		});


      var data12 = {
      	labels: [],
      	datasets: [
      	 {
		      backgroundColor: [
		        "#2ecc71",
		        "#3498db",
		        "#95a5a6",
		        "#9b59b6",
		        "#f1c40f",
		        "#e74c3c",
		        "#34495e"
		      ],
			  data: []      	 
      	 }
      	]     
      };      

      {loop="$fsc->stats_estado('pedidoscli')"}

			data12.labels.push('{$value['txt']}');       
         data12.datasets[0].data.push({$value['total']});

         
      {/loop}

		var ctx12 = document.getElementById('chart_ventas_estado').getContext('2d');
		ctx12.canvas.height = 100;
		var chart12 = new Chart(ctx12, {
		  type: 'polarArea',  
		  data: data12
		});


   }   
</script>

{include="footer"}