{include="header"}

<div class="container-fluid">
   <form name="listado_general" action="{$fsc->url()}&mostrar=general" method="post" class="form">
      <div class="row">
         <div class="col-sm-12">
	         <div class="page-header">
	            <h1>
	               <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	               Informe de {#FS_PEDIDOS#}
	               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
	                  <span class="glyphicon glyphicon-refresh"></span>
	               </a>
	            </h1>
               <p class="help-block">
                  Selecciona las opciones de filtrado que desees.
               </p>
	         </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-2">
            <div class="form-group">
               Desde:
               <input class="form-control datepicker" type="text" name="desde" value="{$fsc->desde}" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Hasta:
               <input class="form-control datepicker" type="text" name="hasta" value="{$fsc->hasta}" autocomplete="off" onchange="this.form.submit()"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->agente->url()}">Empleado</a>:
					<select name="codagente" class="form-control" onchange="this.form.submit()">
                  <option value="">Todos</option>
						<option value="">------</option>
						{loop="$fsc->agente->all()"}
                     {if="$fsc->codagente==$value->codagente"}
		               <option value="{$value->codagente}" selected="">{$value->get_fullname()}</option>
		               {else}
		               <option value="{$value->codagente}">{$value->get_fullname()}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->serie->url()}" class="text-capitalize">{#FS_SERIE#}</a>:
               <select class="form-control" name="codserie" onchange="this.form.submit()">
                  <option value="">Todas</option>
						<option value="">-----</option>
						{loop="$fsc->serie->all()"}
                     {if="$fsc->codserie==$value->codserie"}
		               <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
		               {else}
		               <option value="{$value->codserie}">{$value->descripcion}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->almacen->url()}">Almacén</a>:
               <select name="codalmacen" class="form-control" onchange="this.form.submit()">
                  <option value="">Todos</option>
						<option value="">------</option>
						{loop="$fsc->almacen->all()"}
                     {if="$fsc->codalmacen==$value->codalmacen"}
		               <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
		               {else}
		               <option value="{$value->codalmacen}">{$value->nombre}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->divisa->url()}">Divisa</a>:
					<select name="coddivisa" class="form-control" onchange="this.form.submit()">
                  {loop="$fsc->divisa->all()"}
                     {if="$fsc->coddivisa==$value->coddivisa"}
		               <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
		               {else}
		               <option value="{$value->coddivisa}">{$value->descripcion}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
					<select name="codpago" class="form-control" onchange="this.form.submit()">
                  <option value="">Todas</option>
						<option value="">------</option>
						{loop="$fsc->forma_pago->all()"}
                     {if="$fsc->codpago==$value->codpago"}
		               <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
		               {else}
		               <option value="{$value->codpago}">{$value->descripcion}</option>
		               {/if}
						{/loop}
               </select>
            </div>
         </div>
      </div>
   </form>
</div>

{if="$fsc->mostrar=='general'"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
		   <div class="row">
		      <div class="col-sm-12">
		         <div class="panel panel-default">
		            <div class="panel-heading">
		               <h3 class="panel-title"><span class="text-capitalize">{#FS_PEDIDOS#}</span> por mes</h3>
		            </div>
		            <div class="panel-body">
		               <div id="chart_pedidos_month" style="height: 350px;"></div>
		               <p class="help-block">Se muestran valores <b>netos</b>, es decir, sin impuestos.</p>
		            </div>
		         </div>
		      </div>
		   </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por {#FS_SERIE#}</h3>
            </div>
            <div class="panel-body">
               <div id="chart_compras_series"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_series()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por {#FS_SERIE#}</h3>
            </div>
            <div class="panel-body">
               <div id="chart_ventas_series"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_series('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>   
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por Empleado</h3>
            </div>
            <div class="panel-body">
               <div id="chart_compras_agentes"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_agentes()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por Empleado</h3>
            </div>
            <div class="panel-body">
               <div id="chart_ventas_agentes"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_agentes('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por almacén</h3>
            </div>
            <div class="panel-body">
               <div id="chart_compras_almacenes"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_almacenes()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por almacén</h3>
            </div>
            <div class="panel-body">
               <div id="chart_ventas_almacenes"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_almacenes('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de compras por formas de pago</h3>
            </div>
            <div class="panel-body">
               <div id="chart_compras_formas_pago"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_formas_pago()"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Pedidos de ventas por formas de pago</h3>
            </div>
            <div class="panel-body">
               <div id="chart_ventas_formas_pago"></div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Campo</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->stats_formas_pago('pedidoscli')"}
                  <tr>
                     <td>{$value['txt']}</td>
                     <td class="text-right">{$fsc->show_precio($value['total'])}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="2">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
{/if}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   // Load the Visualization API and the piechart package.
   google.load('visualization', '1.0', {'packages':['corechart']});
   
   // Set a callback to run when the Google Visualization API is loaded.
   google.setOnLoadCallback(drawChart);

   // Callback that creates and populates a data table,
   // instantiates the pie chart, passes in the data and
   // draws it.
   function drawChart()
   {
      // Create the data table.
      var data2 = new google.visualization.DataTable();
      data2.addColumn('string', 'mes');
      data2.addColumn('number', 'ventas {$fsc->simbolo_divisa()}');
      data2.addColumn('number', 'compras {$fsc->simbolo_divisa()}');
      
      data2.addRows([
         {loop="$fsc->stats_months()"}
         ['{$value['month']}', {$value['total_cli']}, {$value['total_pro']}],
         {/loop}
      ]);
     
      // Instantiate and draw our chart, passing in some options.
      var chart2 = new google.visualization.AreaChart(document.getElementById('chart_pedidos_month'));
      chart2.draw(data2);

      var options = {
         is3D: true,
      };

      var data3 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_series()"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart3 = new google.visualization.PieChart(document.getElementById('chart_compras_series'));
      chart3.draw(data3, options);
      
      var data4 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_series('pedidoscli')"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart4 = new google.visualization.PieChart(document.getElementById('chart_ventas_series'));
      chart4.draw(data4, options);

      var data5 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_agentes()"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart5 = new google.visualization.PieChart(document.getElementById('chart_compras_agentes'));
      chart5.draw(data5, options);
      
      var data6 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_agentes('pedidoscli')"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart6 = new google.visualization.PieChart(document.getElementById('chart_ventas_agentes'));
      chart6.draw(data6, options);  
      
      
      var data7 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_almacenes()"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart7 = new google.visualization.PieChart(document.getElementById('chart_compras_almacenes'));
      chart7.draw(data7, options);
      
      var data8 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_almacenes('pedidoscli')"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart8 = new google.visualization.PieChart(document.getElementById('chart_ventas_almacenes'));
      chart8.draw(data8, options);
      
      var data9 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_formas_pago()"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart9 = new google.visualization.PieChart(document.getElementById('chart_compras_formas_pago'));
      chart9.draw(data9, options);
      
      var data10 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         {loop="$fsc->stats_formas_pago('pedidoscli')"}
         ['{$value['txt']}', {$value['total']}],
         {/loop}
        ]);
      
      var chart10 = new google.visualization.PieChart(document.getElementById('chart_ventas_formas_pago'));
      chart10.draw(data10, options);
   }   
</script>

{include="footer"}